.NewDeck {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.NewDeckForm {
    width: 15rem;
    height: max-content;
    display: grid;
    position: relative;
    left: 1.5rem;
}

.NewDeckForm {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    grid-template-rows: 1fr auto;
}

.NewDeckForm > input, .NewDeckForm > label {
    grid-column: 1/2;
}

.NewDeckForm > input {
    grid-row: 2/3;
    height: 1.5rem;
}

.NewDeckForm > label {
    grid-row: 1/2;
    position: relative;
    right: 2.9rem;
}

.CloseForm {
    grid-column-start: 2;
    position: relative;
    right: 7rem;
    top: 2.6rem;
    background-color: tomato;
    color: white;
}

.CloseForm:hover {
    background-color: snow;
    color: tomato;
}

.SubmitForm {
    height: 1.5rem;
    grid-row-start: 2;
}

.DeckGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}