.NewDeck {
    height: 61px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.NewDeckBtn {
    border: 2px solid black;
    padding: 5px 10px;
    background-color: orange;
}

.NewDeckBtn:hover {
    background-color: mediumspringgreen;
}

.NewDeckForm {
    width: 20rem;
    height: max-content;
    display: grid;
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    grid-template-rows: 1fr auto;
    gap: 5px;
    border: 3px solid black;
    background-color: azure;
    padding: 2rem;
}

.NewDeckForm > input, .NewDeckForm > label {
    grid-column: 1/2;
}

.NewDeckForm > input {
    grid-row: 2/3;
    height: 1.5rem;
    padding: 2px 3px;
    border: 2px solid black;
    border-radius: 5%;
}

.NewDeckForm > label {
    grid-row: 1/2;
    position: relative;
    right: 2.9rem;
}

.CloseForm {
    grid-column-start: 2;
    position: relative;
    left: 8.5rem;
    top: 2rem;
    background-color: tomato;
    color: white;
    z-index: 1;
}

.CloseForm:hover {
    background-color: snow;
    color: tomato;
}

.SubmitForm {
    height: 1.5rem;
    grid-row-start: 2;
    background-color: mediumturquoise;
    border: 2px solid black;
}

.SubmitForm:hover {
    background-color: mediumspringgreen;
}

.DeckGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.DeckGrid > * {
    color: black;
    text-decoration: none;
}

.DeckGrid > p {
    grid-column: 1 / end;
}
