.CardSearchForm {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr auto;
    column-gap: 5px;
    row-gap: 2px;
}

.CardSearchForm > input, .CardSearchForm > p{
    grid-column: 1 / 3;
}